global:
    scrape_interval: 5s
    evaluation_interval: 5s

scrape_configs:
    - job_name: "sentinel-target-api"
      metrics_path: "/metrics"
      static_configs:
          - targets: ["api:8000"]
